<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--    <bean id="phone" class="com.neusoft.spring.beans.IPhone">-->
<!--        <property name="price" value="1234.5"></property>-->
<!--    </bean>-->
<!--    <bean id="huawei" class="com.neusoft.spring.beans.Huawei">-->

<!--    </bean>-->

<!--    <bean id="teacher" class="com.neusoft.spring.beans.Teacher" scope="prototype">-->
<!--        <property name="phone">-->
<!--            <ref bean="huawei"/>-->
<!--        </property>-->
<!--    </bean>-->
    <context:component-scan base-package="com.neusoft.spring.beans"/>
</beans>